header{
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 7px solid orange;
}

footer{
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  border-top: 7px solid orange;
}

table th {
  background-color: #fbc25b;
  padding: 10px 20px;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

ul {
  list-style: none;
}

.all_day_new{
  text-align: center;
}

input{
  width: 365px;
}

.notice{
  width: 500px;
  border: solid;
  border-width: 3px;
  padding-top: 25px;
  height: 50px;
  text-align: center;
  border-color: rgb(114, 212, 163);
  background-color: aquamarine;
}

.alert{
  width: 500px;
  border: solid;
  border-width: 3px;
  padding-top: 25px;
  height: 50px;
  text-align: center;
  border-color: rgb(219, 77, 96);
  background-color: rgb(233, 158, 164);
}

.schedule_contents{
  text-align: center;
}

.submit_button{
  width: 220px;
  height: 35px;
  font-size: 15px;
}



